---
title: Blog
description: 'Retrouvez ici tous mes articles de blog récents.'
permalink: '/fr/blog/index.html'
layout: page
---
<p>Bienvenue sur le blog ! Vous y trouverez tous mes derniers articles sur divers sujets.</p>
<p>Vous pouvez vous abonner au flux <a href="/feed.xml">RSS{%svg "misc/rss" %}</a> pour rester informé des nouvelles publications.</p>
<p>Bonne lecture !</p>
{% include "partials/blog-posts.njk" %}