---
title: Mes partenaires
permalink: /fr/partenaires/index.html
description: 'Mes partenariats et publicités soutenant le site.'
layout: page
---
<h2>{{ 'links.ads' | t}}</h2>
{% include 'partials/directories-ads.njk' %}