@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/inter/Inter_18pt-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/inter/Inter_18pt-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: bold;
  font-display: swap;
  font-weight: 700;
  src:
    local(''),
    url('/assets/fonts/inter/Inter_18pt-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Super Magical';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local(''),
    url('/assets/fonts/super-magical/Super-Magical.woff2') format('woff2');
}

