sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 998;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px 12px 0px 0px;
}