.webmentions {
  border-bottom: 1px solid var(--color-bg-accent);
}

.webmentions--likes-shares ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}
.webmentions--likes-shares ul li {
  margin-right: -12px;
}

.webmentions--replies ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
  gap: 2rem;
}

.webmention--mention {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.webmention--link {
  flex: 0 0 36px;
  position: relative;
  display: inline-block;
  border: 2px solid rgb(var(--text-color));
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: rgb(var(--bg-color));
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.webmention--link:hover, .webmention--link:focus {
  z-index: 10;
  transform: scale(1.5);
}

.webmention--content {
  position: relative;
  flex: 1;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background-color: rgba(var(--text-color), 0.1);
}
.webmention--content p {
  margin: 0;
  padding: 0;
}
.webmention--content:before {
  position: absolute;
  top: -0.75rem;
  left: -0.25rem;
  content: "";
  display: block;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(var(--text-color), 0.1);
}
.webmention--content:after {
  position: absolute;
  top: -0.5rem;
  left: -1.25rem;
  content: "";
  display: block;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  background-color: rgba(var(--text-color), 0.1);
}

.webmention--metadata {
  font-size: 1rem;
  margin: 1rem -1rem 0 -1rem;
  padding: 1rem 1rem 0 1rem;
  border-top: 4px dotted rgb(var(--text-color));
}