---
layout: page
title: Blog
description: 'All blog posts can be found here'
permalink: '/en/blog/index.html'
---
<p>Welcome to the blog! Here you'll find all my latest posts on various topics.</p>
<p>You can subscribe to the <a href="/feed.xml">RSS{%svg "misc/rss" %}</a> feed to stay updated with new posts.</p>
<p>Enjoy reading!</p>
{% include "partials/blog-posts.njk" %}