name: Eleventy Build and Deploy
on: [push]
jobs:
  build_deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Build
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: ls
      - run: npm ci
      - run: npm run build
      - run: ls
        env:
          DOTENV_KEY: ${{ secrets.DOTENV_PRIVATE_KEY_PRODUCTION }}
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: dist
          publish_branch: gh-pages
          github_token: ${{ secrets.GH_PAGES_PAT }}