<aside class="creator | cluster gutter-2xs text-step-min-1">
    {{ 'footer.made_with' | t}} <span class="visually-hidden">{{ 'footer.love' | t}}</span> <span>{% svg "misc/heart" %}</span> {{ 'footer.and' | t}}
    <a class="no-indicator" href="https://www.11ty.dev/">
    <span class="visually-hidden">Eleventy</span>
        {% svg "misc/11ty" %} 
    </a>
    {{ 'footer.by' | t}} {{ meta.creator.name }}
</aside>