<div class="cluster mt-md" style="--cluster-horizontal-alignment: center; --gutter: 1rem">
    <!-- Tryst Banner -->
    <a target="_blank" class="no-indicator" href="https://tryst.link/escort/kissmaelis" rel="noopener" title="kissmaelis's Tryst.link profile" style="border: none"><img class="bio-link" src="https://tryst.link/embed/banner/kissmaelis/logo/dark" alt="kissmaelis's Tryst.link profile" ></img></a>

    <!-- EuroGirlsEscort Banner -->
    <a target="_blank" class="no-indicator" href="https://www.eurogirlsescort.com/escort/kissmaelis/987223/"  title="EuroGirlsEscort.com"><img class="bio-link" src="https://www.eurogirlsescort.com/dist/images/banners/234X60.jpg" alt="EuroGirlsEscort.com" title="EuroGirlsEscort.com" /></a>

    <!-- Velvet22 Banner -->
    <a target="_blank" class="no-indicator" href="https://velvet22.com/trans/kissmaelis" rel="noopener noreferrer">
        <img class="bio-link" width="100%" height="auto"  alt="Velvet - Exclusive Directory for High Class Escorts" src="https://velvet22.com/images/banners/velvet-black-bg.png">
    </a>

    <!-- LadyXena Banner -->
    <a target="_blank" class="no-indicator" href="https://www.ladyxena.com/fr/trans/kissmaelis">{% image '/assets/images/misc/ladyxena.png', "kissmaelis's LadyXena", '', 'eager', '', 'bio-link' %}</a>

    <!-- Sex Worker Search Banner -->
    <a target="_blank" class="no-indicator" href="https://sexworkersear.ch" rel="external noopener"><img class="bio-link" src="https://sexworkersear.ch/wp-content/uploads/2024/11/SexWorkerSearch-transwhite.png" alt="Sex Worker Search"/></a>
</div 
