<div class="directory-ads cluster mt-md" style="--cluster-horizontal-alignment: center; --gutter: 1rem">
    <!-- Tryst Banner -->
    <a class="no-indicator" href="https://tryst.link/escort/kissmaelis" rel="noopener" target="_blank" title="Maelis Gast's Tryst.link profile" style="border: none">
        <img src="https://tryst.link/embed/banner/kissmaelis/static" alt="Maelis Gast's Tryst.link profile" style="width: 300px; height: 150px; width: auto; max-height: 60px;"></img>
    </a>

    <!-- EuroGirlsEscort Banner -->
    <a target="_blank" class="no-indicator" href="https://www.eurogirlsescort.com/escort/kissmaelis/987223/"  title="EuroGirlsEscort.com">
        <img src="https://www.eurogirlsescort.com/dist/images/banners/120X60.jpg" alt="EuroGirlsEscort.com" title="EuroGirlsEscort.com" />
    </a>

    <!-- Velvet22 Banner -->
    <a target="_blank" class="no-indicator" href="https://velvet22.com/trans/kissmaelis" rel="noopener noreferrer">
        <img class="velvet-banner" style="max-height: 60px; width: auto;" alt="Velvet - Exclusive Directory for High Class Escorts"
             src="https://velvet22.com/images/banners/velvet-black-bg.png">
    </a>

    <!-- Tescort Banner -->
    <a target="_blank" class="no-indicator" href="https://www.tescort.com/escort/kissmaelis-201194" title="VIP escorts Paris" rel="external noopener">
        <img src="https://www.tescort.com/b/5/2.png" alt="VIP escorts Paris">
    </a>

    <!-- LadyXena Banner -->
    <a target="_blank" class="no-indicator" href="https://www.ladyxena.com/fr/trans/kissmaelis">
        {% image '/assets/images/misc/ladyxena.png', "kissmaelis's LadyXena", '', 'eager', '', '' %}
    </a>

    <!-- Sex Worker Search Banner -->
    <a target="_blank" class="no-indicator" href="https://sexworkersear.ch" rel="external noopener">
        <img  src="https://sexworkersear.ch/wp-content/uploads/2024/11/SexWorkerSearch-transwhite.png" alt="Sex Worker Search"/>
    </a>
</div>