<footer class="site-footer mt-l-xl p-s-m">
  <div class="wrapper">
    <div class="cluster gutter-xs">
      <nav class="cluster text-step-0" aria-label="{{ meta.navigation.ariaBottom }}">
        {% for item in navigation[page.lang].bottom %}
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        {% endfor %}
      </nav>
    </div>
    <div class="cluster gutter-m">
      {% include 'partials/theme-switch.njk' %}
      {% include 'partials/language-switch.njk' %}
    </div>
    {% include 'partials/carbon-badge.njk' %}
    {% include 'partials/creator.njk' %}
  </div>
</footer>
