<footer class="site-footer mt-l-xl p-s-m">
  <div class="wrapper">
    <div class="cluster gutter-xs">
      <nav class="cluster text-step-0" aria-label="{{ meta.navigation.ariaBottom }}">
        {% for item in navigation[page.lang].bottom %}
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        {% endfor %}
      </nav>
    </div>

    {% include 'partials/theme-switch.njk' %}
    {% include 'partials/language-switch.njk' %}

    <aside class="creator | cluster gutter-2xs text-step-min-1">
      {{ 'footer.made_with' | t}} <span class="visually-hidden">{{ 'footer.love' | t}}</span> <span>{% svg "misc/heart" %}</span> {{ 'footer.and' | t}}
      <a class="no-indicator" href="https://www.11ty.dev/">
        <span class="visually-hidden">Eleventy</span>
        {% svg "misc/11ty" %} 
      </a>
      {{ 'footer.by' | t}} {{ meta.creator.name }}
    </aside>
  </div>

</footer>
