
<footer class="site-footer" style="background-image: var(--gradient-bg-vertical); --spot-color: var(--color-bg);">
  {% svg "divider/soft-bottom", null, "divider" %}
  <div class="wrapper mt-m p-s-m">
    <div class="cluster gutter-xs">
      <nav class="cluster text-step-0" aria-label="{{ meta.navigation.ariaBottom }}">
        {% for item in navigation[page.lang].bottom %}
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        {% endfor %}
      </nav>
    </div>
    {% include 'partials/language-switch.njk' %}
    {% include 'partials/theme-switch.njk' %}
    {% include 'partials/carbon-badge.njk' %}
    {% include 'partials/creator.njk' %}
  </div>
</footer>
