

<nav
  class="cluster mt-xs language-switch"
  style="--cluster-horizontal-alignment: center; --gutter: 0.5rem">
  <span class="visually-hidden">{{ 'language' | t}}</span>
  <strong class="language-current">{% svg "misc/language" %} {{ page.lang | langName }}</strong>

  {% for link in page.url | locale_links %}
    <span>•</span>
    <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">{{ link.label }}</a>
  {% endfor %}
</nav>