

<nav 
  class="cluster mt-xs"
  style="--cluster-horizontal-alignment: center; --gutter: 0.5rem">

  <span class="visually-hidden">{{ 'language' | t}}</span>
  {% svg "misc/language", "", "", "color: var(--color-text);" %}
  <strong>{{ page.lang | langName }}</strong>

  {% for link in page.url | locale_links %}
    <span>•</span>
    <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">{{ link.label }}</a>
  {% endfor %}
</nav>