<!-- toggle sub menu in _data/meta.js -->
{% set subMenu = meta.navigation.subMenu %}

<nav id="mainnav" class="mainnav" aria-label="{{ meta.navigation.ariaTop }}">
  <ul class="cluster" role="list" no-flash>
    {% for item in navigation.top %}
      {% if item.submenu %}
        <li class="relative">
          <button
            data-submenu-toggle
            aria-expanded="false"
            aria-labelledby="mainnav-{{ loop.index }}"
            aria-controls="mainnav-{{ loop.index }}-sub"
          >
            {{ item.text }} {% svg "misc/chev-down" %}
          </button>
          <ul class="nav-sublist | cluster" id="mainnav-{{ loop.index }}-sub">
            {% for subitem in item.submenu %}
              <li>
                <a
                  href="{{ subitem.url }}"
                  {{
                    helpers.getLinkActiveState(subitem.url, page.url)
                    | safe
                  }}
                  >{{ subitem.text }}</a
                >
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li>
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

{% if subMenu %}
  {% js "defer" %}
    {% include "scripts/nav-sub.js" %}
  {% endjs %}
{% endif %}
