<div 
    class="aw-plugin-movies"
    data-userid="8943710"
    data-pagingbuttonposition="top"
    data-primarycolor="4c006f"
    data-secondarycolor="a601b5"
    data-rowcolor="f9effb"
    data-altrowcolor="ffffff"
    data-bordercolor="f9effb"
    data-altbordercolor="f9effb"
    data-borderradius="5"
    data-singlepageonly="false"
    data-autocolumn="true"
    data-marginwidth="10"
    data-rows="5"
    data-pagenumber="1"
    data-categoryids="" >
</div>

{% js "defer" %}
  {% include "scripts/videos.js" %}
{% endjs %}